@font-face{
    font-family: 'Nunito Sans Regular';
    src: url('../../static/fonts/nunito/NunitoSans-Regular.ttf');
}

@font-face{
    font-family: 'Nunito Sans ExtraBold';
    src: url('../../static/fonts/nunito/NunitoSans-ExtraBold.ttf');
}