.article{
    .cover-image{
        max-height: 360px;
        width: 100%;
        overflow: hidden;
    }
    .content-lead{
        font-size: 20px;
        text-align: justify;
        font-weight: 500;
        color: $color-dark-2 !important;
    }
}