.backgroundImage 
{
  position: relative;
  background-image: url(https://picsum.photos/400);
  background-size: cover;
  background-position: center;  
  width: 200px;
  height: 300px;
  margin: 0 auto;
  -moz-box-shadow: 20 20 8px #000;
  -webkit-box-shadow: 0 0 8px #000;
  box-shadow: 0 0 14px #000; 
}

.contentDiv
{
  background-color:cornsilk;
  background-size: cover;
  width: 200px;
  height: 300px;
  -webkit-clip-path: polygon(0 46%, 100% 41%, 100% 100%, 0% 100%);
  clip-path: polygon(0 46%, 100% 41%, 100% 100%, 0% 100%);
}