.card-with-icon{
    transition: .3s;
    .iconbox{
        transition: .3s;
        margin-top: -64px;
    }
    .display6{
        transition: .3s;
    }
    .action-btn{
        padding: 32px 48px !important;
        background: $color-dark;
        color: white;
        border-radius: 0px 12px 0px 12px; 
    }
    .action-btn:hover{
        background: $color-dark-2;
    }
    .cardContent{
        font-size: $font-size-body-1;
        font-family: 'Nunito Sans Regular';
        line-height: 1.8;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;  
        text-overflow: ellipsis;
        overflow: hidden;
    }
}
.card-with-icon:hover{
    cursor: pointer;
    .iconbox{
        transform: translateY(-24px);
    }
    .display6{
        transform: translateY(-12px);
    }
}