.case-study{
  @media (max-width: 1080px) {
    .left-nav{
      top: auto !important;
      left: calc(50% - 68px);
    }
    .right-nav{
      top: auto !important;
      right: calc(50% - 68px);
    }
  }
  .case-box{
    padding: 2rem 5rem;
    width: 50%;
    @media (max-width: 1080px) {
      padding: 4rem;
      left: 10%;
      width: 80%;
      top: 300px;
      height: fit-content;
    }
    @media (max-width: 880px) {
      position: relative;
      top: 0px;
      padding: 4rem;
      left: 0px !important;
      width: 100% !important;
      
    }
  }
  @media (max-width: 1080px) {
    padding-left: 0%;
    margin-bottom: 40%;
  }
  @media (max-width: 880px) {
    padding-left: 0%;
    margin-bottom: 60%;
    box-shadow: none;
    margin-bottom: 0%;
  }
  .image{
    @media (max-width: 1080px) {
      height: 360px;
      padding: 0px !important;
    }
    @media (max-width: 880px) {
      margin: 0px !important;
    }
  }
  .title{
    h6{
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-box-orient: vertical;
    }
  }
   .content p{
      text-align: justify;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 4; /* number of lines to show */
      -webkit-box-orient: vertical;
   } 
}
