.col
{
    padding: 0; 
    margin:0;
}

h1{margin:0;}

.sidebar-container 
{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  display: block;
  overflow-x: hidden;
  overflow-y: auto;
  width: 22%;
  background-color: darkgrey;
}
.sidebar-container a
{
    color: whitesmoke;
}
.nav-pills .nav-link.active
{
    background-color: turquoise;
}
.header
{
    height: 59px;
    background-color:whitesmoke;
}
.content
{
    position: relative;
    margin-left: 30%;
    margin-top: 80px;
    text-align: justify;
}
.margin-top
{
    margin-top: 70px;
}

.imageFlickity{
    width: 100%;
}

.row-header{
    margin-top: 100px;
}