@import '_variables';

$header_height: 80px;

.component{
  &-sidebar-container 
  {
    width: 256px;
    padding: 2rem;
    border-right: 1px solid rgba(0, 0, 0, 0.2);
    height: calc(100vh - 80px);
    position: sticky;
    top: $header_height;
  }

  &-header{
    position: sticky !important;
    top: 0px;
    z-index: 10;
    background: $color-light;
    height: $header_height;
  }
}