$container-width: 570px;

//Anchor Tag
a{
    color: $color-dark;
    text-decoration:underline;
    font-weight: 700;
    cursor: pointer;
}

.icon-24{
    font-size: 24px !important;
}

.slider-offset{
    height: 100%;
    width: calc(50vw - 600px);
}