
//Colors
$color-dark: #051133;
$color-dark-2:#2B3244;

$color-light: rgb(247, 247, 247);
$color-light-2: white;

$color-primary: #F32222;
$color-secondary: #EFB617;

$color-success: green;
$color-error: white;
$color-warning: white;
$color-info: white;

//Font Sizes
$font-size-1: 80px;
$font-size-2: 64px;
$font-size-3: 48px;
$font-size-4: 40px;
$font-size-5: 28px;
$font-size-6: 20px;

$font-size-body-1: 16px;
$font-size-body-2: 14px;

$font-size-badge: 12px;

$font-size-meta:20px;




